:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
    width: 100%;
    margin: 0%;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.paq {
    display: grid;
    grid-template-rows: 20px;
    align-items: flex-start;
    justify-content: center;
    min-height: 67vh;
    padding: 10%;
    padding-bottom: 0%;
}

.result {
    display: grid;
    grid-template-rows: 20px;
    align-items: center;
    justify-content: center;
    min-height: 67vh;
    padding: 30%;
    padding-bottom: 0%;
}

h1 {
    display: grid;
    grid-template-rows: 20px;
    align-items: center;
    justify-content: center;
    color: rgba(43, 27, 5, 1);
    font-size: 50px;
    text-shadow: 3px 3px #E38E39, -3px -3px #FBE095;
    text-align: center;
    text-justify: auto;
    text-transform: uppercase;
}

.hit-the-floor {
    margin: 0%;
    padding: 8%;
    padding-bottom: 0%;
    color: #fff;
    font-size: 10em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.hit-the-floor {
    text-align: center;
}

html {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    margin: 0%;
    box-sizing: border-box;
    height: 100%;
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

form {
    position: relative;
    width: 40rem;
    background: var(--color-brand);
    border-radius: var(--rad);
}

input,
button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
}

input[type="password"] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
}

input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
}

input:not(:placeholder-shown)+button {
    display: block;
}

label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}